@font-face {
	font-family: 'Lato';
	src: url('fonts/lato/Lato-Regular.woff2') format('woff2'),
		url('Lato-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Lato-bold';
	src: url('fonts/lato/Lato-Bold.woff2') format('woff2'),
		url('Lato-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Lato-light';
	src: url('fonts/lato/Lato-Light.woff2') format('woff2'),
		url('Lato-Light.woff') format('woff');
}

body{
	font-size: 14px;
	color: #333;
	font-family: "Lato";
	background: #fff;
}

$gold: #F2BF62;
$maincolor: #55C3B6;

.gold{
	background: $gold;
	color: $gold;
}

.clr{
	clear: both;
}


footer{
	margin-top: 50px;
	background: #efefef;

	.f-contact{
		margin-top: 20px;
		padding-left: 10px;
	}
}

.rating{
	ul{
		list-style: none;
		padding-left: 0;
		text-align: center;
		li{
			display: inline-block;
			margin: 0 5px;
			color: $gold;
		}
	}
}

.reviews-list{
	.rating{
		ul{
			text-align: left;
		}
	}
}

.slider{
	height: 580px;
	#main-carousel{
		height: 100%;

		.carousel-inner, .carousel-item, a, img{
			height: 100%;
		}
		.carousel-caption h5{
			font-size: 50px;
		}
	}
}

.page-block{
	margin: 20px 0;
}
.content-wrapper{
	margin-top: 20px;
}
.cart{
	i{
		color: red;
		font-size: 22px;
	}
	font-weight: bold;
	color: #000;
	font-size: 18px;

}

.separator{
	border-bottom: solid 1px #cacaca;
	width: 100%;
	height: 1px;
	margin: 20px 0;
}

.blog{
	background: mediumpurple;
}

#why-us{
	.icons{
		text-align: center;

		i{
			font-size: 50px;
			color: $maincolor;
			margin-bottom: 10px;
		}

		h3{
			font-weight: bold;
		}
	}
}

#reviews{

	img{
		width: 100%;
		height: 210px;
	}


	.product-title{
		text-align: center;

		a:hover{
			color: red;
		}
	}


	.avatar{
		width: 33%;
		display: inline-block;
		float: left;
		img{
			height: 75px;
			border-radius: 100%;
		}
	}

	.name{
		display: inline-block;
		width: 66%;
		padding-left: 10px;
		margin-top: 25px;
	}


	.carousel-control-next, .carousel-control-prev{
		color: red;
		width: 5%;
		font-size: 30px;
	}

	.carousel-control-prev{
		left: -55px;
	}

	.carousel-control-next{
		right: -55px;
	}

}

.content{
	background: #fff;
	padding: 20px 10px;
}

.product-page .carousel-item{
	height: 300px;
}

.product-page .caroulse-item img{
	height: 100%;
}

.bd-placeholder-img{
	display: block;
	margin-right: 10px;
}


.reviews-list{
	.row{
		margin: 20px 0;
	}

}
.page-block{

	.block-title-wrap{
		margin: 20px 0;
	}


	.block-title{
		display: inline-block;
		font-weight: bold;
		margin: 0;
	}

	.all-list{
		float: right;
	}
}